## Projeto para aprender sobre a biblioteca Pandas.

In [ ]:
import pandas as pd
import re

df = pd.read_csv("company_transactions.csv")

print(df.head(3))

### Filtros

In [ ]:
## Pegar somente o título das colunas:
# print(df.columns)

## Pegar colunas específicas:
# df['Transaction_Amount']

## Filtrar colunas:
# df.sort_values('Category')
## Pode ser adicionado: 
# df.sort_values(['Category', 'Transaction_ID'], ascending=False)

## Filtrar dados:
#df.loc[df['Payment_Method'] == 'Debit Card']

## Juntando duas condições:
# df.loc[(df['Payment_Method'] == 'Debit Card') | (df['Payment_Method'] == 'Credit Card')]

## Puxando por Palavras:
# df.loc[df['Payment_Method'].str.contains('card|cash', flags=re.I, regex=True)]

# flags=re.I = Permite que não precise começar com maiúsculo.
# regex=True = Permite puxar mais de um valor (card|cash)

,Transaction_ID,Store_ID,Category,Transaction_Amount,Quantity,Date,Customer_Age,Payment_Method
0,1,52,Electronics,482.70,3,2023-11-27,55,Debit Card
1,2,93,Books,221.98,6,2023-03-18,47,Credit Card
4,5,61,Electronics,303.84,2,2023-10-02,59,Cash
5,6,21,Groceries,92.59,2,2023-02-12,50,Cash
8,9,75,Home Goods,464.66,2,2023-12-04,38,Cash
...,...,...,...,...,...,...,...,...
29991,29992,27,Groceries,284.41,4,2023-10-08,19,Credit Card
29995,29996,48,Books,497.62,3,2023-02-10,33,Debit Card
29997,29998,81,Sports,275.26,6,2023-05-05,34,Debit Card
29998,29999,44,Clothing,307.94,1,2023-01-27,49,Debit Card
29999,30000,59,Home Goods,388.36,2,2023-06-06,31,Debit Card

### Cálculos

In [ ]:
## Fazer cálculo com dados, Ex:
#df['Transaction_Value'] = df['Transaction_Amount'] / df['Quantity']
#df.head(5)